<div class="container">
  <div class="row">
    <div class="col-xs-12 navigation navbar-fixed-top">
      <div class="row">
        <div class="col-xs-2 nav-tile">si</div>
        <div class="col-xs-2 nav-tile">si</div>
        <div class="col-xs-2 nav-tile">si</div>
        <div class="col-xs-2 nav-tile">si</div>
        <div class="col-xs-2 nav-tile">si</div>
        <div class="col-xs-2 nav-tile">si</div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  but<br><br><br>hey<br><br><br>hey<br><br><br>hey<br><br><br>hey<br><br><br>
  <br><br>hey<br><br><br>hey<br><br><br>hey<br><br><br>hey<br><br><br>hey<br><br><br>
  <br><br>hey<br><br><br>hey<br><br><br>hey<br><br><br>hey<br><br><br>hey<br><br><br>
  <br><br>hey<br><br><br>hey<br><br><br>hey<br><br><br>hey<br><br><br>hey<br><br><br>
</div>