<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/lib/bootstrap-dev.css">
  <link rel="stylesheet" href="/stylesheets/lib/bootstrap-theme-dev.css">
  <link rel="stylesheet" href="/stylesheets/custom.css">
  <script src='/javascripts/lib/jquery-dev.js'></script>
  <script src='/javascripts/lib/bootstrap-dev.js'></script>
</head>
<body>
    <%= yield %>
</body>
</html>